<!DOCTYPE html>
<html lang="en">

<head>
    <title>Smash The Patriachy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="Question One of the Your Game">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700">
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css">
</head>

<body>

    <header>Smash The Patriachy</header>
    
    <div id="question">
        <div class="flex-item">
            <img src=""="245" width="360" style="padding-right:100px;">
        </div>

        <div class="flex-item" >
           <p>What Was Susan B. Anthony's original occupantion?</p>
        </div>
        
    </div>

    <div class="flex-container">
        <div class="flex-item" data-color="#2980B9" style="background-color: rgb(42, 128, 185);">
            <p></p>
        </div>
        <div class="flex-item" data-color="#8f44ad" style="background-color: rgb(143, 68, 173);">
            <p>China</p>
        </div>
        <div class="flex-item" data-color="#16a086" style="background-color: rgb(22, 160, 134);">
            <p>South Africa</p>
        </div>
        <div class="flex-item" data-color="#f1c40f" style="background-color: rgb(241, 196, 15);">
            <p>Egept</p>
        </div>
    </div>
    
    <footer>
        <p>&copy; Smash The Patriachy GWC 2017</p>
    </footer>

</body>

</html>
